

$first-color: #ff5100; 
$first-color-dark: #f76d1d;
$first-color-darken: #040b14;
$first-color-lighten: #d3d3d3;

$text-color: #5a5a5a;
$text-color-blue: #0ef;
$text-color-light: #eaeae6;
$text-color-lighten: #fff;


$border: 2px solid rgba(0, 0, 0, 0.1);

$h1-font-size: 2.1rem;
$h2-font-size: 1.4rem;
$h3-font-size: 1.25rem;
$normal-font-size: 1rem;
$small-font-size: 0.913em;
$smaller-font-size: 0.850em;

$box-shadow1: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
$box-shadow2: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
$box-shadow3: rgb(160, 0, 210) 0px 5px 10px;


$poppins: 'Poppins', sans-serif;
$raleway: 'Raleway', sans-serif;
$lora: 'Lora', serif;
$Bruno-Ace-SC: 'Bruno Ace SC', cursive;
